body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    background: url('https://i.pinimg.com/originals/ea/43/2f/ea432fbf89785f8564f80ed64091cbc7.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: auto;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.overlay {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin: 0;
    font-size: 1.1rem;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d52b80a5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta a:hover {
    background-color: #d52b80ec;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d52b80a5;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    background-color: #d52b80a5;
    color: rgba(255, 255, 255, 0.726);
    font-size: 18px;
    font-weight: 600;
}
button:hover{
background-color: #d52b80ee;
}

.enlace a {
    color:#d52b80a5;
    text-decoration: none;
    transition: color 0.3s ease;
}

.enlace a:hover {
    color: #d52b8087;
}

#timer {
    font-size: 30px;
}

#timer {
    transition: color 0.5s ease;
}

#timer.complete {
    color: red;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#timer {
    animation: pulsate 1s infinite alternate;
}