body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 700;
    
}

.card {
    position: relative; /* Asegurar que el contenedor tenga posición relativa */
    background: url('https://i.pinimg.com/originals/ea/43/2f/ea432fbf89785f8564f80ed64091cbc7.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.card::before {
    content: ''; /* Crear un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.149); /* Color negro con 50% de opacidad */
    border-radius: 10px; /* Mantener el borde redondeado */
    pointer-events: none; /* Permite que los eventos pasen a través del pseudo-elemento */
}


.hidden {
    display: none;
}

#photo-gallery img {
    width: 30%;
    height: 30%;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}




h2 a:link{
    color: #007bff;
    text-decoration: none;
}

h2 a:visited{
    color: purple;
}

.enlace {
    margin-bottom:auto;
}

p {
    color: rgba(0, 0, 0, 0.655);
    font-size: 20px;
    justify-content: center;
    font-weight: bolder;
}

p a{
    text-decoration: none;
    color: #fd6e6e;
    font-size: 17px;
    font-weight: bolder;
    border-bottom: 1px solid #dd5e89;
}
.letra {
    color: #f300d78e;
    font-size: 20px;
    font-weight: bolder;
}

h1 {
display: flex;
justify-content: center;
color: #300238;
font-weight: bold;
}
